.btn-color {
  background-color: green;
  border-color: green;
}

.btn-color:hover {
  background-color: darkgreen;
  border-color: darkgreen;
}

.btn-color:active {
  background-color: forestgreen;
  border-color: forestgreen;
}
